* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray-50:#e1e1e6;

}

body {
}

body,
input,
textarea,
select,
button {
  font: 400 1 rem "roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
